.heading {
    margin-bottom: 6.2rem;

    h2 {
        margin-top: 10rem;
        font-weight: 700;
        font-size: 3.2rem;
        text-align: center;
    }

    h3 {
        margin-top: .9rem;
        font-weight: 400;
        font-size: 2rem;
        color: #666;
        text-align: center;
    }
}